@import "../../scss/colors";
@import "../../scss/globals";

.separator{
	text-align: center;
	padding-top: 30px;
    padding-bottom: 30px;
}


.purpose{
	text-align:justify;
	// max-width: 600px;
    margin: auto;
}
.divider{
	z-index: 0;
    position: relative;
    height: 2px;
    background-color: #238585;
    display: block;
    // margin-top: -12px;
    margin: auto;
    text-align: center;
}
